<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title>管理</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="li-border">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseOne">总览↓</a>
                    <div id="collapseOne" class="panel-collapse collapse ">
                        <div class="panel-body"><a data-src="/admin/categoryEcharts" href="#">&emsp;>>分类帖子图表</a></div>
                        <div class="panel-body"><a data-src="/admin/newPostEcharts" href="#">&emsp;>>新帖子图表</a></div>
                        <div class="panel-body"><a data-src="/admin/userEcharts" href="#">&emsp;>>活跃用户图表</a></div>
                        <div class="panel-body"><a data-src="/admin/forbidEcharts" href="#">&emsp;>>禁言用户图表</a></div>
                    </div>
                </li>
                <li role="presentation" class="li-border" >
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo">管理用户↓</a>
                    <div id="collapseTwo" class="panel-collapse collapse ">
                        <div class="panel-body"><a data-src="/admin/userList" href="#">&emsp;>>用户列表</a></div>
                        <div class="panel-body"><a data-src="/admin/forbidList" href="#">&emsp;>>禁言列表</a></div>
                    </div>
                </li>
                <li role="presentation" class="li-border" >
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree">管理帖子↓</a>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body"><a data-src="/admin/newPostList" href="#">&emsp;>>新帖子列表</a></div>
                        <div class="panel-body"><a data-src="/admin/categoryList" href="#">&emsp;>>类别列表</a></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <iframe frameborder="0" scrolling="yes" class="my-frame" src=""></iframe>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $("li").on("click",function(){
            var address =$(this).attr("data-src");
            $("iframe").attr("src",address);
        });
    });

    $(function(){
        $("a").on("click",function(){
            var address =$(this).attr("data-src");
            $("iframe").attr("src",address);
        });
    });
</script>
</body>
</html>