<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title>他人信息</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                <th:block th:if="${not #strings.isEmpty(user.userPortrait)}">
                    <img class="big-portrait" th:src="@{${user.userPortrait}}">
                </th:block>
                <th:block th:unless="${not #strings.isEmpty(user.userPortrait)}">
                    <img class="big-portrait" th:src="@{/images/default_portrait.jpg}">
                </th:block>
            </div>
            <br><br>
            <div>
                <h4>姓名：[[${user.userName}]]</h4>
                <h4>邮箱：[[${user.userEmail}]]</h4>
                <h4>注册时间：[[${#dates.format(user.userCreatedDate, 'yyyy-MM-dd HH:mm')}]]</h4>
                <h4 th:if="${user.userRole}=='admin'">角色：管理员</h4>
                <h4 th:unless="${user.userRole}=='admin'">角色：普通用户</h4>
                <h4 th:if="${user.userFlag}==1">状态：正常</h4>
                <h4 th:unless="${user.userFlag}==1">状态：禁言</h4>
            </div>
            <br><br>
            <div>
                <h3>个性签名：</h3>
                <h4>[[${user.userSignature}]]</h4>
            </div>
            <br><br>
            <div>
                <h4>关注：[[${follows}]]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;粉丝：[[${fans}]]</h4>
                <th:block th:if="${hadFollow}==0">
                    <button th:unless="${loginName}==${user.userName}" type="button" class="btn btn-default"
                            th:onclick="follow([[${user.userName}]])">关注TA
                    </button>
                </th:block>
                <th:block th:unless="${hadFollow}==0">
                    <button th:unless="${loginName}==${user.userName}" type="button" class="btn btn-danger"
                            th:onclick="followDel([[${user.userName}]])">解除关注
                    </button>
                </th:block>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <ul class="list-group list-custom-corner">
                    <li class="list-group-item side-borderless last-border" th:each="post:${posts}">
                        <div class="media-heading">
                            <a class="post-title"
                               th:href="@{/post/details/(postId=${post.postId},homeCurrPage=${page.currPage},orderType=${orderType},queryPostTitle=${queryPostTitle})}">
                                <h4>[[${post.postTitle}]]</h4>
                            </a>
                        </div>
                        <div>
                            <span class="post-date"
                                  th:text="${#dates.format(post.postCreatedDate, 'yyyy-MM-dd HH:mm')}"></span>
                            <span class="badge" th:text="${'回复：'+post.postCommentCount}"></span>
                            <span class="badge" th:text="${'浏览：'+post.postHits}"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <th:block th:if="${page.totalCount}!=0">
                    <th:block th:unless="${not #lists.isEmpty(posts)}">
                        该页数据为空，请返回
                        <a th:href="@{/user/otherInfo(currPage=${page.currPage}-1,orderType=${orderType},queryPostTitle=${queryPostTitle},userName=${user.userName})}"
                           aria-label="Previous" th:unless="${page.currPage} eq 1"> <span
                                aria-hidden="true">上一页</span>
                        </a>
                    </th:block>
                    <th:block th:if="${not #lists.isEmpty(posts)}">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    <a th:href="@{/user/otherInfo(currPage=1,orderType=${orderType},queryPostTitle=${queryPostTitle},userName=${user.userName})}"
                                       aria-label="Previous"> <span aria-hidden="true">首页</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" aria-label="Previous" th:if="${page.currPage} eq 1"> <span
                                            aria-hidden="true">上一页</span>
                                    </a>
                                    <a th:href="@{/user/otherInfo(currPage=${page.currPage}-1,orderType=${orderType},queryPostTitle=${queryPostTitle},userName=${user.userName})}"
                                       aria-label="Previous" th:unless="${page.currPage} eq 1"> <span
                                            aria-hidden="true">上一页</span>
                                    </a>
                                </li>
                                <th:block th:each="item,status:${#numbers.sequence(1,page.totalPage)}">
                                    <li th:if="${ status.count} eq ${page.currPage}">
                                        <a th:href="@{/user/otherInfo(currPage=${ status.count},orderType=${orderType},queryPostTitle=${queryPostTitle},userName=${user.userName})}"
                                           class="page-select">[[${ status.count}]]</a></li>
                                    <li th:unless="${ status.count} eq ${page.currPage}">
                                        <a th:href="@{/user/otherInfo(currPage=${ status.count},orderType=${orderType},queryPostTitle=${queryPostTitle},userName=${user.userName})}">[[${
                                            status.count}]]</a></li>
                                </th:block>
                                <li>
                                    <a href="#" aria-label="Next" th:if="${page.currPage} eq ${page.totalPage }">
                                        <span aria-hidden="true">下一页</span>
                                    </a>
                                    <a th:href="@{/user/otherInfo(currPage=${page.currPage}+1,orderType=${orderType},queryPostTitle=${queryPostTitle},userName=${user.userName})}"
                                       th:unless="${page.currPage} eq ${page.totalPage }" aria-label="Next">
                                        <span aria-hidden="true">下一页</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/user/otherInfo(currPage=${page.totalPage},orderType=${orderType},queryPostTitle=${queryPostTitle},userName=${user.userName})}"
                                       aria-label="Previous"> <span aria-hidden="true">尾页</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </th:block>
                </th:block>
                <th:block th:unless="${page.totalCount}!=0">
                    暂无数据
                </th:block>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    if (top.location !== self.location) {
        top.location = self.location;
    }

    function follow(userName) {
        $.ajax({
            url: "[[@{/user/userFollow}]]",
            async: true,
            type: "post",
            data: JSON.stringify(userName),
            contentType: "application/json;charset=UTF-8",
            dataType: "text",
            success: function (data) {
                if (data > 0) {
                    alert("关注成功！");
                    window.location.reload();
                } else {
                    alert("关注失败，请稍后再试");
                }
            },
            error: function () {
                alert("服务器繁忙");
            }
        });
    }

    function followDel(userName) {
        $.ajax({
            url: "[[@{/user/userFollowDel}]]",
            async: true,
            type: "post",
            data: JSON.stringify(userName),
            contentType: "application/json;charset=UTF-8",
            dataType: "text",
            success: function (data) {
                if (data > 0) {
                    alert("取消成功！");
                    window.location.reload();
                } else {
                    alert("取消失败，请稍后再试");
                }
            },
            error: function () {
                alert("服务器繁忙");
            }
        });
    }
</script>
</body>
</html>