<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title>类别列表</title>
</head>
<body>
<div class="container">
    <div class="row form-group">
        <p>新密码：</p>
        <input id="newPwd" type="password" class="form-control" placeholder="密码长度在(6~12位之间)，请不要输入特殊字符"/>
        <span id="check_password" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <p>确认密码：</p>
        <input id="rePwd" type="password" class="form-control" placeholder="请输入确认密码"/>
    </div>
    <div class="text-center">
        <button class="btn btn-default" type="button" onclick="pwdUpdate()">修改</button>
    </div>
</div>
<script type="text/javascript">
    function pwdUpdate() {
        var newPwd = $('#newPwd').val();
        var rePwd = $('#rePwd').val();
        if (newPwd == '' || rePwd == '')
            alert("输入不能为空");
        else {
            if (newPwd != rePwd) {
                alert("两次输入密码不一致！");
            } else {
                var newPwdAfter = excludeSpecial(newPwd);
                if (passwordCheck(newPwdAfter) == false)
                    return false;
                $.ajax({
                    url: "[[@{/user/pwdUpdate}]]",
                    async: true,
                    type: "post",
                    data: JSON.stringify({"userPassword": newPwdAfter}),
                    contentType: "application/json;charset=UTF-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == 1) {
                            alert("修改成功！");
                            window.location.reload();
                        } else {
                            alert("修改失败，请稍后再试");
                        }
                    },
                    error: function () {
                        alert("服务器繁忙");
                    }
                });
            }
        }
    }
</script>
</body>
</html>