<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myforum_springboot.mapper.LoginMapper">
    <resultMap id="getUser" type="user">
        <id property="userName" column="user_name"></id>
        <result property="userPassword" column="user_password"></result>
        <result property="userPortrait" column="user_portrait"></result>
        <result property="userSignature" column="user_signature"></result>
        <result property="userEmail" column="user_email"></result>
        <result property="userCreatedDate" column="user_created_date"></result>
        <result property="userLoginDate" column="user_login_date"></result>
        <result property="userRole" column="user_role"></result>
        <result property="userFlag" column="user_flag"></result>
    </resultMap>
    <select id="findByUserName" parameterType="String" resultMap="getUser">
        select * from t_user where user_name=#{userName}
    </select>

    <select id="findAuthoritiesByUsername" parameterType="String" resultMap="getUser">
        select user_role from t_user where user_name=#{userName}
    </select>

    <insert id="userRegister" parameterType="user">
        insert into t_user(user_name,user_password,user_portrait,user_signature,user_email,user_created_date,user_role,user_flag)
        values(#{userName},#{userPassword},#{userPortrait},#{userSignature},#{userEmail},#{userCreatedDate},#{userRole},#{userFlag})
    </insert>

    <update id="loginDate" parameterType="user">
        update t_user set user_login_date = #{userLoginDate} where user_name = #{userName}
    </update>
</mapper>