<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myforum_springboot.mapper.PostMapper">

    <select id="postsCount" parameterType="Map" resultType="int">
        select count(*) from t_post p,t_category c where p.post_category=c.category_id and
        <if test="queryPostTitle!=null and queryPostTitle!=''">
            p.post_title like CONCAT('%',#{queryPostTitle},'%') and
        </if>
        c.category_id in(select category_id from t_category where category_name = #{category.categoryName})
    </select>

    <resultMap id="CategoryList" type="category">
        <id property="categoryId" column="category_id"></id>
        <result property="categoryName" column="category_name"></result>
        <result property="categoryCreatedDate" column="category_created_date"></result>
    </resultMap>
    <select id="getAllCategory" resultMap="CategoryList">
        select * from t_category
    </select>

    <resultMap id="getPosts" type="post">
        <id property="postId" column="post_id"></id>
        <result property="postTitle" column="post_title"></result>
        <result property="postBody" column="post_body"></result>
        <result property="postCreatedDate" column="post_created_date"></result>
        <result property="postHits" column="post_hits"></result>
        <association property="category" javaType="category">
            <result property="categoryName" column="category_name"></result>
        </association>
        <association property="user" javaType="user">
            <id property="userName" column="user_name"></id>
            <result property="userPortrait" column="user_portrait"></result>
            <result property="userSignature" column="user_signature"></result>
            <result property="userFlag" column="user_flag"></result>
        </association>
    </resultMap>
    <select id="getPostsByPage" parameterType="Map" resultMap="getPosts">
        select p.*,c.category_name,u.user_name,u.user_portrait,u.user_signature,u.user_flag
        from t_post p,t_category c,t_user u
        where p.post_category=c.category_id and p.post_user=u.user_name and
        <if test="queryPostTitle!=null and queryPostTitle!=''">
            p.post_title like CONCAT('%',#{queryPostTitle},'%') and
        </if>
        c.category_id in(select category_id from t_category where category_name = #{categoryName})
        order by p.post_created_date ${orderType}
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="commentCount" parameterType="int" resultType="long">
        select count(*) from t_comment where comment_post = #{postId}
    </select>

    <insert id="postSend" parameterType="Map">
        insert into t_post(post_title,post_body,post_created_date,post_hits,post_user,post_category)
        values(#{post.postTitle},#{post.postBody},#{post.postCreatedDate},0,#{userId},#{categoryId})
    </insert>

    <resultMap id="getCategoryId" type="int">
        <id property="categoryId" column="category_id"></id>
    </resultMap>
    <select id="getCategoryId" parameterType="category" resultMap="getCategoryId">
        select category_id from t_category where category_name=#{categoryName}
    </select>

    <select id="postDetails" parameterType="post" resultMap="getPosts">
        select p.*,c.category_name,u.user_name,u.user_portrait,u.user_signature,u.user_flag
        from t_post p,t_category c,t_user u
        where p.post_category=c.category_id and p.post_user=u.user_name and
        p.post_id=#{postId}
    </select>

    <update id="hitsAdd" parameterType="post">
        update t_post set post_hits=post_hits+1 where post_id = #{postId}
    </update>

    <resultMap id="getComments" type="comment">
        <id property="commentId" column="comment_id"></id>
        <result property="commentBody" column="comment_body"></result>
        <result property="commentCreatedDate" column="comment_created_date"></result>
        <association property="user" javaType="user">
            <id property="userName" column="user_name"></id>
            <result property="userPortrait" column="user_portrait"></result>
            <result property="userSignature" column="user_signature"></result>
            <result property="userFlag" column="user_flag"></result>
        </association>
    </resultMap>
    <select id="getCommentsByPage" parameterType="Map" resultMap="getComments">
        select c.comment_id,c.comment_body,c.comment_created_date,
        u.user_name,u.user_portrait,u.user_signature,u.user_flag
        from t_comment c,t_post p,t_user u
        where c.comment_post=p.post_id and c.comment_user=u.user_name and p.post_id=#{post.postId}
        <if test="userName!=null and userName!=''">
            and c.comment_user = #{userName}
        </if>
        order by c.comment_created_date asc
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="commentsCount" resultType="int">
        select count(*) from t_comment where comment_post=#{post.postId}
    </select>

</mapper>